{% extends 'base.html.twig' %}

{% block title %}New Allergy{% endblock %}

{% block body %}
    <h1>Create new Allergy</h1>

    {{ include('allergy/_form.html.twig') }}

    <a href="{{ path('allergy_index') }}">back to list</a>
{% endblock %}
