{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="content">
    <div class="container-fluid">
        <div class="section">

        </div>
    </div>
</div>
{% endblock %}
