{% extends 'base.html.twig' %}

{% block title %}Information index{% endblock %}

{% block body %}
    <div class="card bootstrap-table">
        <div class="header">
            <h4 class="title">Information index</h4>
            <table id="bootstrap-table" class="table">
                <thead>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="name" data-sortable="true">Cin</th>
                <th data-field="name" data-sortable="true">Country</th>
                <th data-field="actions" class="td-actions text-right" data-events="operateEvents"
                    data-formatter="operateFormatter">Actions
                </th>
                </thead>
                <tbody>
                {% for information in informations %}
                    <tr>
                        <td></td>
                        <td>{{ information.cin }}</td>
                        <td>{{ information.country }}</td>
                        <td class="text-right">
                            <a href="{{ path('information_show', {'id': information.id}) }}"
                               class="btn btn-outline-dark dataTableLink btn-sm">show</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="footer container-fluid">
                {#<a href="{{ path('information_new') }}" class="btn btn-outline-dark dataTableLink btn-sm">Create new
                    specialty</a>#}
            </div>
        </div>
    </div>
{% endblock %}
