{% extends 'base.html.twig' %}

{% block title %}New Voluntary{% endblock %}

{% block body %}
    <h1>Create new Voluntary</h1>

    {{ include('voluntary/_form.html.twig') }}

    <a href="{{ path('voluntary_index') }}">back to list</a>
{% endblock %}
