{% extends 'superBase.html.twig' %}

{% block title %}Edit Hospital{% endblock %}

{% block body %}
    <h1>Edit Hospital</h1>

    {{ include('hospital/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('hospital_index') }}">back to list</a>

    {{ include('hospital/_delete_form.html.twig') }}
{% endblock %}
