{{ form_start(form) }}
    {{ form_row(form.name, { 'attr' : {'placeholder' : 'sickness name', 'class' : 'form-control'}}) }}
    <button class="btn btn-outline-dark dataTableLink btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
