{% extends 'base.html.twig' %}

{% block title %}Edit Sickness{% endblock %}

    {% block body %}
        <div class="card">
            <div class="header">
                <h4 class="title">Edit Sickness</h4>
                <div class="container-fluid">
                    {{ include('sickness/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    {% endblock %}