{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-6">
            <h1>Urgent</h1>
            <div class="card bootstrap-table">
                <div class="card-body table-full-width">
                    <div class="toolbar">
                    </div>
                    <table id="bootstrap-table" class="table">
                        <thead>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="id" class="text-center">ID</th>
                        <th data-field="name" data-sortable="true">Cin</th>
                        <th data-field="salary" data-sortable="true">Phone</th>
                        <th data-field="country" data-sortable="true">City</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>1</td>
                            <td>Dakota Rice</td>
                            <td>$36,738</td>
                            <td>Niger</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h1>Not Urgent</h1>
            <div class="card bootstrap-table">
                <div class="card-body table-full-width">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <table id="bootstrap-table1" class="table">
                        <thead>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="id" class="text-center">ID</th>
                        <th data-field="name" data-sortable="true">Cin</th>
                        <th data-field="salary" data-sortable="true">Phone</th>
                        <th data-field="country" data-sortable="true">City</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>1</td>
                            <td>Dakota Rice</td>
                            <td>$36,738</td>
                            <td>Niger</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>2</td>
                            <td>Minerva Hooper</td>
                            <td>$23,789</td>
                            <td>Curaçao</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}