{% extends 'base.html.twig' %}

{% block title %}Edit Specialty{% endblock %}

{% block body %}
    <div class="card">
        <div class="header">
            <h4 class="title">Edit Specialty</h4>
            <div class="container-fluid">
                {{ include('specialty/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
{% endblock %}
