{% extends 'base.html.twig' %}

{% block title %}New Specialty{% endblock %}

{% block body %}
<div class="card">
    <div class="header">
        <h4 class="title">Create new Specialty</h4>
    <div class="content">
        {{ include('specialty/_form.html.twig') }}
    </div>
    </div>
</div>


{% endblock %}
